* {
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    background-color: rgba(0, 128, 0, 0.3);
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "navbar navbar"
    "sidebar main"
    "sidebar footer";
}
nav {
    grid-area: navbar;
    padding: 1rem;
}
aside {
    grid-area: sidebar;
    border-right: 0.1px black solid;
    padding: 1rem;
}
main {
    grid-area: main;
    padding: 1rem;
}
footer {
    grid-area: footer;
    padding: 1rem;
}
