* {
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    background-color: rgba(0, 128, 0, 0.3);
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "sidebar navbar"
    "sidebar main"
    "sidebar footer";
}
nav {
    grid-area: navbar;
    padding: 1rem;
    display: flex;
    justify-content: end;
}
aside {
    grid-area: sidebar;
    border-right: 0.1px grey solid;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
main {
    grid-area: main;
    min-height: 100vh;
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "general-container"
    "details-perhour details-perhour details-perhour details-windmap details-windmap"
    "details-forecast details-uvindex details-sunset details-windmap details-windmap"
    "details-forecast details-wind details-wakingcresent details-percipitation details-feelslike"
    "details-forecast details-humidity details-visibility details-pressure details-average";
}
footer {
    grid-area: footer;
    padding: 1rem;
    
}
.fa-solid, .fa-bars {
    padding-bottom: 1rem;
    align-self: flex-end;
}
.nav-city {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px grey solid;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.nav-title {
    font-weight: 500;
    color: white;
    font-size: 25px;
}
.nav-time {
    font-weight: 400;
    color: rgb(30, 102, 197);
    font-size: 20;
    padding-top: 0.25rem;
}
.nav-weather {
    font-weight: 300;
    color: rgb(94, 150, 185);
    padding-top: 0.75rem;
}
.nav-secondary-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.nav-temperature {
    font-weight: 300;
    color: white;
    font-size: 40px;
    
}
.nav-temperature-container {
    display: flex;
    gap: 0.5rem;
    color: white;
}
input {
    border: none;
    background-color: none;
}
.search-bar {
    border: 1px black solid;
    border-radius: 30%;

}
.general-container {
    grid-area: general-container;
}
.details-perhour {
    grid-area: details-perhour;
}
.details-forecast {
    grid-area: details-forecast;
}
.details-windmap {
    grid-area: details-windmap;
}
.details-uvindex {
    grid-area: details-uvindex;
}
.details-sunset {
    grid-area: details-sunset;
}
.details-wind {
    grid-area: details-wind;
}
.details-percipitation {
    grid-area: details-percipitation;
}
.details-visibility {
    grid-area: details-visibility;
}
.details-humidity {
    grid-area: details-humidity;
}
.details-feelslike {
    grid-area: details-feelslike;
}
.details-wakingcresent {
    grid-area: details-wakingcresent;
}
.details-pressure {
    grid-area: details-pressure;
}
.details-average {
    grid-area: details-average;
}